@model IEnumerable<Expenses_Manager.Models.Receipt>

@{
    ViewData["Title"] = "Faturas";
}

<h1>Faturas</h1>

<p>
    <a asp-action="Create">Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Mês
            </th>
            <th>
                Ano
            </th>
            <th>
                Total da fatura
            </th>
            <th>
                Pagamentos pendentes
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Month)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PendingPayments)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Remover</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-controller="UI" asp-action="Home">Voltar</a>
</div>
