@using Expenses_Manager.Models.Enums
@model Expenses_Manager.Models.Util.ReceiptsQuery

@{
    ViewData["Title"] = "Faturas";
}

<h1>Faturas</h1>

<p>
    <a asp-action="Create">Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Mês
            </th>
            <th>
                Ano
            </th>
            <th>
                Total da fatura
            </th>
            <th>
                Pagamentos pendentes
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Receipts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Month)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PendingPayments)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <form asp-action="OrdenedIndex" class="row">
        <div class="col">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <div class="nav-item">
                    <label asp-for="ReceiptsOrderType" class="control-label"></label>
                    <select asp-items="@Html.GetEnumSelectList<ReceiptOrderType>()" asp-for="ReceiptsOrderType"></select>
                </div>
                <div class="nav-item">
                    <label asp-for="ReceiptsFilterType" class="control-label"></label>
                    <select asp-items="@Html.GetEnumSelectList<ReceiptFilterType>()" asp-for="ReceiptsFilterType"></select>
                </div>
                <div class="form-group">
                    <label asp-for="ReceiptsFilterValue" class="control-label"></label>
                    <input asp-for="ReceiptsFilterValue" type="text" />
                </div>
                <div class="nav-item">
                    <label asp-for="ReceiptsOrder" class="control-label"></label>
                    <select asp-items="@Html.GetEnumSelectList<ResultsOrder>()" asp-for="ReceiptsOrder"></select>
                </div>
            </div>
        </div>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <div class="nav-item">
                <input type="submit" value="Ordenar" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>
<div>
    <a asp-controller="UI" asp-action="Home">Voltar</a>
</div>
