@using Expenses_Manager.Models.Enums
@model Expenses_Manager.Models.Util.CategoriesQuery

@{
    ViewData["Title"] = "Categorias";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Categories)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <form asp-action="OrdenedIndex" class="row">
        <div class="col">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <div class="nav-item">
                    <label asp-for="CategoriesOrderType" class="control-label"></label>
                    <select asp-items="@Html.GetEnumSelectList<CategoryOrderType>()" asp-for="CategoriesOrderType"></select>
                </div>
                <div class="nav-item">
                    <label asp-for="CategoriesFilterType" class="control-label"></label>
                    <select asp-items="@Html.GetEnumSelectList<CategoryFilterType>()" asp-for="CategoriesFilterType"></select>
                </div>
                <div class="form-group">
                    <label asp-for="CategoriesFilterValue" class="control-label"></label>
                    <input asp-for="CategoriesFilterValue" type="text" />
                </div>
                <div class="nav-item">
                    <label asp-for="CategoriesOrder" class="control-label"></label>
                    <select asp-items="@Html.GetEnumSelectList<ResultsOrder>()" asp-for="CategoriesOrder"></select>
                </div>
            </div>
        </div>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <div class="nav-item">
                <input type="submit" value="Ordenar" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>
<div>
    <a asp-action="BackToList">Voltar</a>
</div>
