@using Expenses_Manager.Models.Enums
@model Expenses_Manager.Models.Util.PaymentMethodsQuery

@{
    ViewData["Title"] = "Métodos de pagamento";
}

<h1>Métodos de pagamento</h1>

<p>
    <a asp-action="Create">Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>           
            <th>
                Usuário
            </th>
            <th>
                Número
            </th>
            <th>
                Bandeira
            </th>
            <th>
                Tipo
            </th>
            <th>
                Fechamento da fatura
            </th>
            <th>
                Limite
            </th>
            <th>
                Saldo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PaymentMethods) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HolderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiptClosingDay.Day)
            </td>
            <td>
                @if(item.Type == Expenses_Manager.Models.Enums.PaymentType.Debito)
                {
                    <span>Receita do mes</span>
                }
                else
                {
                    <span>R$ @(item.LimitValue)</span>
                }
            </td>
            <td>
                @if(item.Type == Expenses_Manager.Models.Enums.PaymentType.Debito)
                {
                    <span> - </span>
                }
                else
                {
                    <span>R$  @(item.LimitValue - item.CurrentValue)</span>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Remover</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <form asp-action="OrdenedIndex" class="row">
        <div class="col">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <div class="nav-item">
                    <label asp-for="PaymentMethodsOrderType" class="control-label"></label>
                    <select asp-items="@Html.GetEnumSelectList<PaymentMethodOrderType>()" asp-for="PaymentMethodsOrderType"></select>
                </div>
                <div class="nav-item">
                    <label asp-for="PaymentMethodsFilterType" class="control-label"></label>
                    <select asp-items="@Html.GetEnumSelectList<PaymentMethodFilterType>()" asp-for="PaymentMethodsFilterType"></select>
                </div>
                <div class="form-group">
                    <label asp-for="PaymentMethodsFilterValue" class="control-label"></label>
                    <input asp-for="PaymentMethodsFilterValue" type="text" />
                </div>
                <div class="nav-item">
                    <label asp-for="PaymentMethodsOrder" class="control-label"></label>
                    <select asp-items="@Html.GetEnumSelectList<ResultsOrder>()" asp-for="PaymentMethodsOrder"></select>
                </div>
            </div>
        </div>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <div class="nav-item">
                <input type="submit" value="Ordenar" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>
<div>
    <a asp-controller="UI" asp-action="Home">Voltar</a>
</div>
