@model IEnumerable<Expenses_Manager.Models.PaymentMethod>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>           
            <th>
                Usuário
            </th>
            <th>
                Número
            </th>
            <th>
                Bandeira
            </th>
            <th>
                Tipo
            </th>
            <th>
                Fechamento
            </th>
            <th>
                Limite
            </th>
            <th>
                Valor atual
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HolderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiptClosingDay.Day)
            </td>
            <td>
                @if(item.Type == Expenses_Manager.Models.Enums.PaymentType.Debit)
                {
                        <span>Receita do mes</span>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.LimitValue)
                }
            </td>
            <td>
                @if(item.Type == Expenses_Manager.Models.Enums.PaymentType.Debit)
                {
                    <span> - </span>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.CurrentValue)
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Remover</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-controller="UI" asp-action="Home">Voltar</a>
</div>
